@import "tailwindcss";

:root {
  /* for color */

  /* for font family */
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-inter: "Inter", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
}

@theme {
  --font-roboto: var(--font-family-roboto);
  --font-inter: var(--font-family-inter);
  --font-poppins: var(--font-family-poppins);
}

/* *******************M3/display*********************** */

.d-large {
  @apply font-roboto font-normal text-[57px]/[64px];
  letter-spacing: -0.25px;
}

.d-large-emphasized {
  @apply font-roboto font-medium text-[57px]/[64px];
  letter-spacing: -0.25px;
}

.d-medium {
  @apply font-roboto font-normal text-[45px]/[52px];
}
.d-medium-emphasized {
  @apply font-roboto font-medium text-[45px]/[52px];
}
.d-small {
  @apply font-roboto font-medium text-[36px]/[44px];
}
/* ******************M3/headline******************** */

.headline-large {
  @apply font-roboto font-normal text-[32px]/[40px];
}
.headline-large-emphasized {
  @apply font-roboto font-medium text-[32px]/[40px];
}
.headline-medium {
  @apply font-roboto font-normal text-[28px]/[36px];
}
.headline-medium-emphasized {
  @apply font-roboto font-medium text-[28px]/[36px];
}
.headline-small {
  @apply font-roboto font-normal text-[24px]/[32px];
}
.headline-small-emphasized {
  @apply font-roboto font-medium text-[24px]/[32px];
}

/*  *****************************M3/title***************************** */

.title-large {
  @apply font-roboto font-normal text-[22px]/[28px];
}
.title-large-emphasized {
  @apply font-roboto font-medium text-[20px]/[28px];
}

.title-medium {
  @apply font-roboto font-medium text-[16px]/[24px];
}
.title-medium-emphasized {
  @apply font-roboto font-semibold text-[16px]/[24px];
  letter-spacing: -0.15px;
}

.title-small {
  @apply font-roboto font-medium text-[14px]/[20px];
  letter-spacing: -0.1px;
}
.title-small-emphasized {
  @apply font-roboto font-semibold text-[14px]/[20px];
  letter-spacing: -0.1px;
}

/* ************************************M3/label***************************************** */

.label-large {
  @apply font-roboto font-medium text-[14px]/[20px];
  letter-spacing: 0.1px;
}
.label-large-emphasized {
  @apply font-roboto font-semibold text-[12px]/[16px];
  letter-spacing: 0.5px;
}

.label-medium {
  @apply font-roboto font-medium text-[12px]/[16px];
  letter-spacing: 0.5px;
}
.label-medium-emphasized {
  @apply font-roboto font-semibold text-[12px]/[16px];
  letter-spacing: 0.5px;
}
.label-small {
  @apply font-roboto font-medium text-[11px]/[16px];
  letter-spacing: 0.5px;
}

.label-small-emphasized {
  @apply font-roboto font-semibold text-[11px]/[16px];
  letter-spacing: 0.5px;
}

/* ************************************M3/body***************************************** */
.body-large {
  @apply font-roboto font-normal text-[16px]/[24px];
  letter-spacing: 0.5px;
}
.body-large-emphasized {
  @apply font-roboto font-medium text-[16px]/[24px];
  letter-spacing: 0.5px;
}
.body-medium {
  @apply font-roboto font-normal text-[14px]/[20px];
  letter-spacing: 0.25px;
}
.body-medium-emphasized {
  @apply font-roboto font-medium text-[14px]/[20px];
  letter-spacing: 0.25px;
}
.body-small {
  @apply font-roboto font-normal text-[12px]/[16px];
  letter-spacing: 0.4px;
}
.body-small-emphasized {
  @apply font-roboto font-medium text-[12px]/[16px];
  letter-spacing: 0.4px;
}

/* *********************************************************Simple Design System************************************************************** */

/* ==============Title Hero=============== */
.title-hero {
  @apply font-inter font-bold text-[72px]/[120%];
  letter-spacing: -3px;
}
.title-page {
  @apply font-inter font-bold text-[48px]/[120%];
  letter-spacing: -2px;
}

.subtitle {
  @apply font-inter font-normal text-[32px]/[120%];
  letter-spacing: -0.5px;
}
.heading {
  @apply font-inter font-semibold text-[24px]/[120%];
  letter-spacing: -2px;
}

.subheading {
  @apply font-inter font-normal text-[20px]/[120%];
  letter-spacing: -0.5px;
}
.body-base {
  @apply font-inter font-normal text-[16px]/[140%];
}
.body-strong {
  @apply font-inter font-semibold text-[16px]/[140%];
}
.body-emphasis {
  @apply font-inter font-semibold text-[16px]/[140%];
}
.body-link {
  @apply font-inter font-normal text-[16px]/[140%];
}
.body-small {
  @apply font-inter font-normal text-[14px]/[140%];
}
.body-code {
  @apply font-inter font-normal text-[16px]/[130%];
}

/* ==================================Single Line=========================== */

.single-line-base {
  @apply font-inter font-normal text-[16px]/[100%];
}
.single-line-strong {
  @apply font-inter font-semibold text-[16px]/[100%];
}
/* ===========================================iOS and iPadOS 26======================================= */
.large-title-regular {
  @apply font-roboto font-semibold text-[34px]/[41px];
}
.large-title-Emphasized {
  @apply font-roboto font-bold text-[34px]/[41px];
}

/* ===========================================title1======================================= */
.title1-regular {
  @apply font-roboto font-medium text-[28px]/[34px];
}

.title1-emphasized {
  @apply font-roboto font-bold text-[28px]/[34px];
}
/* ===========================================title2======================================= */
.title2-regular {
  @apply font-roboto font-medium text-[22px]/[28px];
}
.title2-emphasized {
  @apply font-roboto font-bold text-[22px]/[28px];
}
/* ===========================================title3======================================= */
.title3-regular {
  @apply font-roboto font-normal text-[20px]/[25px];
}
.title3-emphasized {
  @apply font-roboto font-semibold text-[20px]/[25px];
}
/* ===========================================headline======================================= */

.headline-regular {
  @apply font-roboto font-semibold text-[17px]/[22px];
  letter-spacing: -0.43px;
}
.headline-italic {
  @apply font-roboto font-semibold text-[17px]/[22px];
  letter-spacing: -0.43px;
}

/* ===========================================bodyregular======================================= */
.body-regular {
  @apply font-roboto font-normal text-[17px]/[22px];
  letter-spacing: 0.5px;
}
.body-emphasized {
  @apply font-roboto font-semibold text-[17px]/[22px];
  letter-spacing: 0.5px;
}
.body-italic {
  @apply font-roboto font-normal text-[17px]/[22px];
  letter-spacing: 0.43px;
}

.body-emphasized-italic {
  @apply font-roboto font-semibold text-[17px]/[22px];
  letter-spacing: 0.43px;
}

/* *******************************Callout/Regular************************************* */

.callout-regular {
  @apply font-roboto font-normal text-[16px]/[21px];
  letter-spacing: 0.31px;
}
.callout-emphasized {
  @apply font-roboto font-semibold text-[16px]/[21px];
  letter-spacing: 0.31px;
}
.callout-italic {
  @apply font-roboto font-normal text-[16px]/[21px];
  letter-spacing: 0.31px;
}
.callout-emphasized-italic {
  @apply font-roboto font-semibold text-[16px]/[21px];
  letter-spacing: 0.31px;
}
/* *******************************Subheadline************************************* */

.subheading-regular {
  @apply font-roboto font-normal text-[15px]/[20px];
  letter-spacing: 0.24px;
}
.subheading-emphasized {
  @apply font-roboto font-semibold text-[15px]/[20px];
  letter-spacing: 0.24px;
}
.subheading-italic {
  @apply font-roboto font-normal text-[15px]/[20px];
  letter-spacing: 0.24px;
}
.subheading-emphasized-italic {
  @apply font-roboto font-semibold text-[15px]/[20px];
  letter-spacing: 0.24px;
}

/* *******************************Footnote************************************* */
.footnote-regular {
  @apply font-roboto font-normal text-[13px]/[18px];
  letter-spacing: 0.08px;
}
.footnote-emphasized {
  @apply font-roboto font-semibold text-[13px]/[18px];
  letter-spacing: 0.08px;
}
.footnote-italic {
  @apply font-roboto font-normal text-[13px]/[18px];
  letter-spacing: 0.08px;
}
.footnote-emphasized-italic {
  @apply font-roboto font-semibold text-[13px]/[18px];
  letter-spacing: 0.08px;
}

/* *******************************Caption1************************************* */

.caption1-regular {
  @apply font-roboto font-normal text-[12px]/[16px];
  letter-spacing: 0.4px;
}
.caption1-emphasized {
  @apply font-roboto font-semibold text-[12px]/[16px];
  letter-spacing: 0.4px;
}
.caption1-italic {
  @apply font-roboto font-normal text-[12px]/[16px];
  letter-spacing: 0.4px;
}
.caption1-emphasized-italic {
  @apply font-roboto font-semibold text-[12px]/[16px];
  letter-spacing: 0.4px;
}
/* *******************************Caption2************************************* */
.caption2-regular {
  @apply font-roboto font-normal text-[11px]/[13px];
  letter-spacing: 0.66px;
}
.caption2-emphasized {
  @apply font-roboto font-semibold text-[11px]/[13px];
  letter-spacing: 0.66px;
}
.caption2-italic {
  @apply font-roboto font-normal text-[11px]/[13px];
  letter-spacing: 0.66px;
}
.caption2-emphasized-italic {
  @apply font-roboto font-semibold text-[11px]/[13px];
  letter-spacing: 0.66px;
}


.n{
  color: #333333cd;
}